.equal, .iso, .scl, .not {
  display: none;
}

.btn {
  background-color: #30aa33;
  color: white;
  text-shadow: -1px 1px white;
  font-size: 25px;
}

input {
  font-size: 20px;
}

.answer {
  font-size: 25px;
}

.jumbotron {
  background-color: #30aa33;
  color: white;
  text-shadow: -1px 1px white;
}

body {
  color: #30aa33;
  background-color: lightgrey;
}
